#wrapper{
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: 0 auto;
  width: 800px;
}

#wrapper div{
  outline: 1px solid red;
}

#wrapper .rooms-search{
  background-color: blueviolet;
}

#wrapper .rooms-list{
  background-color: aquamarine;
}