* {
  box-sizing: border-box;
}
.main{
  position: relative;
}
.container{
  margin: 0 auto;
  width: 800px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #63acff;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}
#wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 550px;
  position: relative;
}

#wrapper .rooms-list {
  cursor: pointer;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

.rooms-search {
  padding: 10px;
  display: flex;
  align-items: center;
}
.message-create aside.emoji-picker-react,
.message-edit aside.emoji-picker-react {
  position: absolute;
  bottom: 54px;
  right: 0;
}
#wrapper .rooms-item .room-name {
  font-size: 23px;
  padding: 0 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 5%);
}
.room.with-header {
  border-top-right-radius: 0;
}
#wrapper .rooms-item .room-name.with-header{
  border-top-right-radius: 0;
}
.room {
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 10%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.room-text {
  text-align: center;
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;
}

.rooms-list main {
  padding: 5px 5px 5px 10px;
  display: flex;
  color: #fff;
  align-items: center;
  height: 52px;
  transition: all 0.2s;
}
.rooms-list .active {
  background-color: #3596ff;
}
.rooms-list main:hover {
  background-color: #2682f6;
}
.rooms-list img {
  width: 30px;
  height: 30px;
}
.rooms-list section {
  margin: 0 0 0 10px;
}

.rooms-list section p {
  color: #d8d8d8;
}
.rooms-list section h4,
.rooms-list section p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  width: 150px;
}
.rooms-search-input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #3596ff;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
.rooms-search-input::placeholder {
  color: #fff;
}

.rooms-item {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 9fr auto;
}
.rooms-message-input {
  background-color: transparent;
  color: #000;
  border: 1px solid #afafaf;
}

.rooms-message-input::placeholder {
  color: rgba(0, 0, 0, 0.41);
}
.message-item-inner {
  display: flex;
  margin-right: 66px;
  align-items: flex-end;
  position: relative;
}
.messages-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}
.messages-item-actions {
  flex-shrink: 0;
  margin-right: 10px;
}
.flex-end {
  justify-content: flex-end;
}
.message-item {
  margin-left: 5px;
  background-color: #eaeaea;
  padding: 10px 35px 10px 10px;
  border-radius: 10px;
}
.message-item p {
  margin: 0;
}
.message-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 5%);
  border-top-right-radius: 10px;
}
.message-search.with-header {
  border-top-right-radius: 0;
}
.rooms-list-inner {
  position: relative;
  background: #007aff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 100%;
}
.rooms-list-inner.forward {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  grid-template-rows: 1fr
}
.rooms-list-inner.with-header {
  border-top-left-radius: 0;
}
.rooms-list-inner.forward .rooms-list .active {
  background-color: #007aff;
}
#wrapper .rooms-list-inner.forward .rooms-list {
  max-height: 350px
}
.message-search {
  padding: 0 10px;
}
.search-cancel {
  border-radius: 5px;
  padding: 10px;
  background-color: #eaeaea;
}
.search {
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  color: #fff;
  background-color: #007aff;
}
.message-search-inner {
  display: flex;
  align-items: center;
}
.message-search-actions {
  display: flex;
  align-items: center;
}
.message-search-input {
  height: 30px;
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  width: 250px;
  margin-right: 5px;
}
.search-date {
  padding: 0;
}
.send-message {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}
.message-create {
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 -5px 4px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
  align-items: center;
  border-bottom-right-radius: 10px;
  background-color: #eaeaea;
}
.my-message-item-inner {
  justify-content: end;
  margin: 0 0 0 66px;
}
.message-item-inner.messages-hover{
  margin-right: 0;
}

.my-message-item-inner.messages-hover {
  margin: 0;
}
.my-message-item {
  background-color: #007aff;
  color: #fff;
  margin: 0 5px 0 0;
  padding-right: 45px;
}
.emoji-dialog {
  background-color: #3596ff36;
  border-radius: 10px;
  padding: 5px;
}
.messages_wrapper {
  display: grid;
  position: relative;
  overflow-y: scroll;
  max-height: 452px;
  transition: all 0.2s;
}
.message-date {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  color: #9f9f9f;
  right: 5px;
}
.my-message-item .message-date {
  right: 24px;
  color: #cecececf;
}
.my-message-item .message-date.message-with-avatar {
  right: 49px;
}
.message-read {
  position: absolute;
  right: 9px;
  bottom: 3px;
}
.message-read.message-with-avatar {
  right: 34px;
}
.message-read  img{
  height: 10px;
  width: 10px;
}

.message-edit {
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 -5px 4px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
  align-items: center;
  border-bottom-right-radius: 10px;
  background-color: #eaeaea;
}
.message-edit-cancel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.message-edit-cancel h6 {
  margin: 0;
}
.message-edit-input {
  display: flex;
  align-items: center;
  width: 100%;
}
.message-edit-input input {
  border: 1px solid #afafaf;
}
.room-name-title{
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert-dialog{
  position: absolute;
  padding: 20px;
  left: 50%;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.alert-actions{
  display: flex;
  justify-content: space-between;
}
.alert-dialog h3{
  margin: 5px 0;
}
.alert-actions button{
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
}
.alert-accept{
  background-color: #007aff;
}
.alert-cancel {
  background-color: rgb(255 81 81);
}
.snackBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  background-color: #ff3b3b85;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.rooms-list section span{
  background-color: #3596ff;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 13px;
}
.rooms-list section article{
  display: flex;
  justify-content: space-between;
}

.messages_wrapper:hover::-webkit-scrollbar-thumb{
  background: #3596ff;
}
.rooms-list:hover::-webkit-scrollbar-thumb{
  background: #3596ff;
}
.messages_search-active{
 max-height: 495px;
}
.date-picker .react-date-picker__wrapper{
  border: none;
}
.date-picker .react-date-picker__inputGroup, .clean-date .react-date-picker__clear-button{
  display: none;
}
.date-picker .react-date-picker__calendar{
  width: 250px;
}
.date-picker .react-calendar__tile{
  padding: 6px;
}
.date-picker .react-calendar__year-view .react-calendar__tile{
  padding: 15px 5px;
}
.my-message.without-avatar{
padding-right: 25px;
}
.my-message, .foreign-message {
  margin-bottom: 2px;
  margin-left: 2px;
}
.foreign-message.without-avatar{
  padding-left: 25px;
}
.message-create-inner{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.reply-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-left: 2px solid #afafaf;
  padding-left: 5px;
}
.reply-message p {
  max-width: 520px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}
.reply-text{
  border-left: 2px solid #afafaf;
  padding-left: 5px;
  font-size: 11px;
  color: #afafaf;
}
.chat-open{
  border-radius: 50%;
  background-color: #3596ff;
  color: #fff;
  padding: 15px 10px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.tooltip{
  position: relative;
}
.tooltip-title{
  position: absolute;
  z-index: 5;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007aff;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 5px;
}

.create-room{
  background-color: #007aff;
  color: #fff;
  display: flex;
  padding: 5px;
  margin: 5px auto;
}
.chat-header{
  background: #007aff;
  color: #fff;
  display: flex;
  padding: 9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
}
.chat-header img {
  width: 25px;
  height: 25px;
}
.chat-header div img {
  margin-right: 10px;
}
.chat-header div{
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.moon{
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 1;
  right: 4px;
  top: 4px;
  pointer-events: none;
  transition: opacity 0.25s ease 0s;
}
.sun {
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 1;
  left: 4px;
  top: 4px;
  pointer-events: none;
  transition: opacity 0.25s ease 0s;
}

#light .rooms-list-inner{
  background: #007aff;
}
#dark .message-item{
   background: #626262;
 }
#dark .rooms-list-inner,  #dark .room-name,
#dark .message-edit, #dark .message-create, #dark .message-search {
  background: #383838;
}
#dark .room-name {
 color: #fff;
}
#dark .my-message-item, #dark .room, #dark .loading{
  background: #383838;
}
#dark .messages_wrapper{
  background: #484848;
}
#dark input::placeholder{
  color: #fff;
}
#dark .rooms-list .active{
  background-color: #626262;
}#dark .rooms-list main:hover{
  background-color: #747474;
}
#dark input, #dark .reply-message, #dark .room-text, #dark .loading{
  color: #fff;
}
#dark .message-search-input, #dark .search, #dark .rooms-search-input{
  background-color: #626262;
}
.loading{
  text-align: center;
  background-color: #fff;
}
.scroll-button{
  position: sticky;
  bottom: 10px;
  display: none;
  background-color: #eaeaea;
  border-radius: 50px;
  justify-self: end;
  padding: 5px;
}
.scroll-button:hover{
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.scroll-button span{
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-40%);
}
.newMessage{
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  color: #aeaeae;
  position: relative;
}
.newMessage::before, .newMessage::after {
  display: block;
  content: "";
  width: 39%;
  height: 1px;
  background-color: #b3b0b0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.newMessage::before {
  left: 0;
}
.newMessage::after {
  right: 0;
}
