* {
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

#wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin: 0 auto;
  width: 800px;
}

#wrapper .rooms-list {
  cursor: pointer;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

.rooms-search {
  padding: 10px;
  display: flex;
  align-items: center;
}
.message-create aside.emoji-picker-react,
.message-edit aside.emoji-picker-react {
  position: absolute;
  bottom: 54px;
  right: 0;
}
#wrapper .rooms-item .room-name {
  font-size: 23px;
  padding: 0 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 5%);
}
.room {
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 10%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.room-text {
  text-align: center;
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px 0;
}

.room-list-item {
  padding: 5px 5px 5px 10px;
  display: flex;
  color: #fff;
  align-items: center;
  height: 52px;
  transition: all 0.2s;
}
.room-list-item--active {
  background-color: #3596ff;
}
.room-list-item:hover {
  background-color: #2682f6;
}
.room-list-header {
  margin: 0 0 0 10px;
}
.room-list-header h4,
.room-list-header p {
  margin: 0;
}
.room-list-last {
  color: rgba(216, 216, 216, 0.97);
}
.room-list-title,
.room-list-last {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 173px;
}
.rooms-search-input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #3596ff;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
.rooms-search-input::placeholder {
  color: #fff;
}

.rooms-item {
  display: grid;
  grid-template-rows: 1fr 9fr auto;
}
.rooms-message-input {
  background-color: transparent;
  color: #000;
  border: 1px solid #afafaf;
}

.rooms-message-input::placeholder {
  color: rgba(0, 0, 0, 0.41);
}
.message-item-inner {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.messages-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}
.messages-item-actions {
  flex-shrink: 0;
  margin-right: 10px;
}
.flex-end {
  justify-content: flex-end;
}
.message-item {
  margin-left: 5px;
  margin-right: 55px;
  background-color: #eaeaea;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
}
.message-search {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 5%);
  border-top-right-radius: 10px;
}
.rooms-list-inner {
  position: relative;
  background: #007aff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
}
.message-search {
  padding: 0 10px;
}
.search-cancel {
  border-radius: 5px;
  padding: 10px;
  background-color: #eaeaea;
}
.search {
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  color: #fff;
  background-color: #007aff;
}
.message-search-inner {
  display: flex;
  align-items: center;
}
.message-search-actions {
  display: flex;
  align-items: center;
}
.message-search-input {
  height: 30px;
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  width: 250px;
}
.search-date {
  padding: 0;
  margin-left: 10px;
}
.send-message {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}
.message-create {
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 -5px 4px rgb(0 0 0 / 5%);
  display: flex;
  position: relative;
  padding: 5px;
  align-items: center;
  border-bottom-right-radius: 10px;
  background-color: #eaeaea;
}
.my-message-item-inner {
  justify-content: end;
  margin: 0 0 0 66px;
}
.messages-hover {
  margin: 0;
}
.my-message-item {
  background-color: #007aff;
  color: #fff;
  margin: 0 10px 0 0;
  padding: 10px 10px 10px 35px;
}
.emoji-dialog {
  background-color: #3596ff36;
  border-radius: 10px;
  padding: 5px;
}
.messages_wrapper {
  display: grid;
  overflow-y: auto;
  max-height: 450px;
}
.message-date {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  color: #9f9f9f;
  right: 65px;
}
.my-message-item .message-date {
  left: 5px;
}

.message-edit {
  box-shadow: 0 0 4px rgb(0 0 0 / 12%), 0 -5px 4px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
  align-items: center;
  border-bottom-right-radius: 10px;
  background-color: #eaeaea;
}
.message-edit-cancel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.message-edit-cancel h6 {
  margin: 0;
}
.message-edit-input {
  display: flex;
  align-items: center;
  width: 100%;
}
.message-edit-input input {
  border: 1px solid #afafaf;
}
